TH {
color : #000000;
background-color : #32CD32;
border-width: 1px ;
border-style:solid;
border-color :white;
}
TD {
color : limegreen;
background-color : #000000;
border-width: 1px ;
border-style:solid;
border-color :white ;
}